Source: python-sybil
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders:
 Andrey Rakhmatullin <wrar@debian.org>
Section: python
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 dh-sequence-sphinxdoc <!nodoc>,
 furo <!nodoc>,
 python3-all,
 python3-doc <!nodoc>,
 python3-pytest (>= 6.2.0) <!nocheck>,
 python3-seedir <!nocheck>,
 python3-setuptools,
 python3-sphinx <!nodoc>,
 python3-testfixtures <!nocheck>,
 python3-yaml <!nocheck>,
 sphinx-doc <!nodoc>,
Standards-Version: 4.7.0
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-sybil
Vcs-Git: https://salsa.debian.org/python-team/packages/python-sybil.git
Homepage: https://github.com/simplistix/sybil/
Testsuite: autopkgtest-pkg-pybuild
Rules-Requires-Root: no

Package: python3-sybil
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
Description: Automated testing for the examples in your documentation (Python 3)
 This library provides a way to test examples in your documentation by parsing
 them from the documentation source and evaluating the parsed examples as part
 of your normal test run. Integration is provided for the three main Python test
 runners.
 .
 This is the Python 3 version of the package.

Package: python-sybil-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Built-Using: ${sphinxdoc:Built-Using}
Multi-Arch: foreign
Description: Automated testing for the examples in your documentation (documentation)
 This library provides a way to test examples in your documentation by parsing
 them from the documentation source and evaluating the parsed examples as part
 of your normal test run. Integration is provided for the three main Python test
 runners.
 .
 This package contains the documentation.
