#!/usr/bin/make -f

export PYBUILD_NAME=sybil
export PYBUILD_TEST_PYTEST=1
# to test also docs, not just tests
export PYBUILD_TEST_ARGS=
ifeq ($(PYBUILD_AUTOPKGTEST),1)
	# these assume the sources are present
	export PYBUILD_TEST_ARGS+= -k "not test_all_python_files and not test_ast_docstrings"
endif


%:
	dh $@ --buildsystem=pybuild

override_dh_sphinxdoc:
ifeq (,$(findstring nodoc,$(DEB_BUILD_PROFILES)))
	python3 setup.py egg_info
	PYTHONPATH=. python3 -m sphinx -b html -N docs/ $(CURDIR)/debian/python-sybil-doc/usr/share/doc/python3-sybil/html
endif
	dh_sphinxdoc

override_dh_installdocs:
	dh_installdocs -ppython-sybil-doc --doc-main-package=python3-sybil
	dh_installdocs --remaining-packages
